<div class="row">
    <div class="col-sm-4">
        <h2><?php echo $t->_('LOGIN') ?></h2>

        <form class="" method="post">
            <?php echo $form->renderDecorated('login'); ?>
            <?php echo $form->renderDecorated('password'); ?>
            <?php echo $form->render('csrf') ?>
            <div class="row">
                <div class="col-xs-6">
                    <a href="/auth/register" class="btn btn-block btn-default"><?php echo $t->_('REGISTER'); ?></a>
                </div>
                <div class="col-xs-6">
                    <?php echo $form->render('submit'); ?>
                </div>
            </div>
        </form>
    </div>

    <div class="col-sm-2 hidden-xs" style="height: 250px;">
        <div class="vertical-divider"></div>
        <h3 class="text-center" style="margin:12px;">OR</h3>

        <div class="vertical-divider"></div>
    </div>

    <div id="social-logins" class="col-xs-12 col-sm-3">
        <h2><?php echo $t->_('LOGIN') ?></h2>

        <a href="/auth/social/<?php echo base64_encode('Facebook') ?>" class="btn btn-block btn-social btn-facebook">
            <i class="fa fa-facebook"></i>Sign in with Facebook</a>
        <a href="/auth/social/<?php echo base64_encode('Google') ?>" class="btn btn-block btn-social btn-google">
            <i class="fa fa-google"></i>Sign in with Google</a>
        <a href="/auth/social/<?php echo base64_encode('Twitter') ?>" class="btn btn-block btn-social btn-twitter">
            <i class="fa fa-twitter"></i>Sign in with Twitter</a>
    </div>
</div>
