<div class="row">
    <div class="col-md-4">
        <form method="post" action="/auth/register">
            <?php echo $form->renderDecorated('name') ?>
            <?php echo $form->renderDecorated('email') ?>
            <?php echo $form->renderDecorated('password') ?>
            <?php echo $form->renderDecorated('password_confirm') ?>
            <?php echo $form->render('csrf') ?>
            <?php echo $form->render('submit') ?>
            <a href="/auth/login" class="btn btn-default">Cancel</a>
        </form>
    </div>
</div>
