<?php echo $hello; ?>

<?php $variable = 'not in the partial value'; ?>

<p><?php $this->partial('info', ['variable' => 'hello']) ?></p>
<p><?php $this->partial('info', ['variable' => 'helloo']) ?></p>
<p><?php $this->partial('info', ['variable' => 'hellooo']) ?></p>
<p><?php $this->partial('info', ['variable' => 'helloooo']) ?></p>

<?php echo $variable ?>

