<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>title</title>
    <style type="text/css">
        * {
            font-size: 17px;
            color: darkolivegreen;
        }
    </style>
</head>

<body>
<p>This is my mail layout!</p>

<p> <?php echo $this->getContent() ?> </p>
</body>
</html>