<?php echo $this->tag->getDoctype() ?>
<html>
<head>
    <?php echo $this->tag->getTitle() ?>

    <!-- Favicon -->
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
    <link rel="apple-touch-icon" href="/favicon.ico">

    <!-- Standard meta info -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta name="description" content="Awesome Description Here">
    <meta name="keywords" content="">
    <meta name="author" content="demo">
    <link rel="author" href="http://demo.dev"/>
    <link rel="canonical" href="<?php echo DefaultDi::get('config')->application->homeUrl . $this->router->getRewriteUri() ?>"/>

    <!-- Facebook meta info -->
    <meta property="og:url" content="<?php echo DefaultDi::get('config')->application->homeUrl . $this->router->getRewriteUri() ?>">
    <meta property="og:image" content="">
    <meta property="og:description" content="">
    <meta property="og:title" content="<?php echo isset($title) && $title ? $title : DefaultDi::get('config')->application->appName; ?>">
    <meta property="og:site_name" content="<?php echo DefaultDi::get('config')->application->appName ?>">
    <meta property="og:see_also" content="<?php echo DefaultDi::get('config')->application->homeUrl ?>">

    <!-- Twitter meta tags -->
    <meta name="twitter:card" content="small description">
    <meta name="twitter:url" content="<?php echo DefaultDi::get('config')->application->homeUrl . $this->router->getRewriteUri() ?>">
    <meta name="twitter:title" content="<?php echo isset($title) && $title ? $title : DefaultDi::get('config')->application->appName; ?>">
    <meta name="twitter:description" content="description">
    <meta name="twitter:image" content="">

    <!-- Global Stylesheets -->
    <?php echo $this->tag->stylesheetLink("assets/bootstrap/css/bootstrap.min.css") ?>
    <?php echo $this->tag->stylesheetLink("assets/css/bootstrap-social.css") ?>
    <?php echo $this->tag->stylesheetLink("assets/font-awesome/css/font-awesome.min.css") ?>
    <?php echo $this->tag->stylesheetLink("assets/css/styles.css") ?>
</head>
<body>

<nav id="mainNav" class="navbar navbar-default">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#demo-navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand page-scroll" href="/"><?php DefaultDi::get('config')->application->appName ?></a>
        </div>

        <div class="collapse navbar-collapse" id="demo-navbar-collapse">
            <ul class="nav navbar-nav navbar-right">
                <?php $menu = new MenuBuilder(); ?>
                <?php $menu->getMenu(); ?>
            </ul>
        </div>
    </div>
</nav>

<div class="container">
    <?php echo $this->flashSession->output(); ?>

    <div class="row">
        <div class="col-md-12">
            <h1><?php echo $title; ?></h1>
        </div>
    </div>
</div>

<div class="container">
    <?php echo $this->getContent() ?>
</div>


<!-- Global Javascript -->
<?php echo $this->tag->javascriptInclude("assets/js/jquery-2.1.4.min.js") ?>
<?php echo $this->tag->javascriptInclude("assets/bootstrap/js/bootstrap.min.js") ?>

<!-- Template level Javascript -->

<!-- Page level Javascript -->


</body>
</html>